<article class="pear">

    <a class="pear-image-container" href="/pears/{{PID}}">
        <img class="pear-image" src="{{Image}}" title="{{Description}}">
    </a>
    <div class="pear-content">
        <p class="pear-title">
            {{Title}}
        </p>
        <p class="pear-poster">
            <a href="/users/{{Username}}">{{Username}}</a>
        </p>
        <p class="pear-rating">
            {{Average}}
        </p>
    </div>

</article>
