<div class="big-pear">

    <div class="big-pear-image-container">
        <img class="big-pear-image" src="{{pearInfo.Image}}" title="{{pearInfo.Description}}">
    </div>

    <div class="big-pear-info">
        <h2 class="big-pear-title">
            {{pearInfo.Title}}
        </h2>
        <p class="big-pear-description">
            {{pearInfo.Description}}
        </p>
        <p class="big-pear-poster">
            Posted by <a href="/users/{{pearInfo.Username}}">{{pearInfo.Username}}</a>
        </p>
        <div class="big-pear-rating">

            {{#if ratings.average}}
                Rated an average of <p class="big-pear-rating-value">{{ratings.average}}/15 </p> by <p
                    class="big-pear-rating-value">{{ratings.numRatings}}</p> user(s)
            {{/if}}
            {{#unless ratings.average}}
                This pear hasn't been rated yet! Be the first to <p class="big-pear-rating-value">rate it</p>
            {{/unless}}
        </div>
        <div class="big-pear-buttons-container">
            <button class="big-pear-button" id="rate-pear-button">Rate</button>
            {{#if ownedPear}}
                <button class="big-pear-button" id="delete-pear-button">DELETE</button>
            {{/if}}
            {{#unless ownedPear}}
                <button class="big-pear-button" id="report-pear-button">Report</button>
            {{/unless}}

        </div>

        <div class="big-pear-tag-container">
            {{#if tags}}
                <h3>Tags:</h3>
                {{#each tags}}
                    <div class="big-pear-tag">
                        <a class="tag" href="/?tag={{Tag}}">#{{Tag}}</a>
                    </div>
                {{/each}}
            {{/if}}

            {{#if ownedPear}}
                <div class="add-tag-container">
                    <button class="big-pear-button" id="tag-pear-button">Add a tag</button>
                </div>
            {{/if}}
        </div>
    </div>


</div>

<div id="rating-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Rate a Pear</h3>
            <button type="button" class="modal-close-button" id="rating-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <select id="pear-rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-cancel-button" id="rating-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button" id="rating-accept-button">Submit Rating</button>
        </div>

    </div>
</div>

<div id="report-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Report a Pear</h3>
            <button type="button" class="modal-close-button" id="report-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <h1>what the pear do wrong now honey</h1>
            <select id="report-reason">
                <option value="report_notPear">This is not a pear</option>
                <option value="report_nsfw">This pear is NSFW</option>
                <option value="report_hatecrime">This pear commited a hate crime</option>
            </select>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-cancel-button" id="report-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button" id="report-accept-button">Submit Report</button>
        </div>

    </div>
</div>

<div id="delete-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Delete your Pear?</h3>
            <button type="button" class="modal-close-button" id="delete-close-button">&times;</button>
        </div>

        <div class="modal-footer">
            <button type="button" class="modal-cancel-button" id="delete-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button" id="delete-accept-button">DELETE</button>
        </div>

    </div>
</div>

<div id="tag-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Add tag</h3>
            <button type="button" class="modal-close-button" id="tag-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="modal-input-element">
                <label for="tag-input">Tag</label>
                <input type="text" id="tag-input">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="modal-cancel-button" id="tag-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button" id="tag-accept-button">Add tag</button>
        </div>

    </div>
</div>